# 04. 파이썬 시각화 기초

* 코난아카데미 : 데이터분석 기초
* 작성자 : 김무성

# 차례

* 기초
* 응용

## 기초

### python 시각화 기초

* 다음과 같이 하면, 팁과 관련한 데이터를 로딩할 수 있다.

In [1]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
tips = sns.load_dataset("tips")

In [3]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

####  문제 1. total_bill의 분포를 그리시오(히스토그램)

#### a) matplotlib을 이용해서 그리시오

In [5]:
# input yuour code

#### b) seaborn을 이용해서 그리시오

In [ ]:
# input yuour code

#### c) bokeh를 이용해서 그리시오

In [ ]:
# input yuour code

####  문제 2. 남녀별(sex) tip의 박스플롯을 그리시오

#### a) matplotlib을 이용해서 그리시오

In [ ]:
# input yuour code

#### b) seaborn을 이용해서 그리시오

In [18]:
# input yuour code

#### c) bokeh를 이용해서 그리시오

In [ ]:
# input yuour code

####  문제 3. total_bil에 따른 tip의 산포도(x축 total_bil, y축 tip)를 그리고 선형회귀 추정식도 같이 그리시오

#### a) matplotlib을 이용해서 그리시오

In [ ]:
# input yuour code

#### b) seaborn을 이용해서 그리시오

In [ ]:
# input yuour code

#### c) bokeh를 이용해서 그리시오

In [ ]:
# input yuour code

####  문제 3. total_bil에 따른 tip의 산포도(x축 total_bil, y축 tip)와 선형회귀 추정식을, 흡연여부(smoker)로 그룹화해서 나타내시오.

#### a) matplotlib을 이용해서 그리시오

In [ ]:
# input yuour code

#### b) seaborn을 이용해서 그리시오

In [ ]:
# input yuour code

#### c) bokeh를 이용해서 그리시오

In [ ]:
# input yuour code

## 응용

* 응용문제  - 타이타닉 승객 시각화

### 응용문제  - 타이타닉 승객 명단 관련 정보는 아래와 같다. 의미있는 시각화를 하시오.

In [19]:
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

titanic = sns.load_dataset("titanic")
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [ ]:
# input yuour code

## 참고자료 

 * http://nbviewer.ipython.org/github/KonanAcademy/da/blob/master/part1/04_python_visualization.ipynb
 * matplotlib - http://matplotlib.org/
 * seaborn - http://stanford.edu/~mwaskom/software/seaborn/
 * bokeh - http://bokeh.pydata.org/en/latest/